#header-center{
    margin: 0 auto;
    width: 1080px;
}
/* px은 사용자 모니터 크기에 따라 px의 기준이 달라진다*/
#header-search > h1 {
    width: 280;
    display: inline-block;
}
#header-search > h2 {
    display:none;
}
#header-search fieldset {
    width: 520px;
    display: inline-block;
}
/*
#header-center h1 {
    자손 선택자
}
*/